<!DOCTYPE html>
<html>
<head>
  <title>Seek</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="shepherd-theme-arrows.css" />
  <script src="tether.min.js"></script>
  <script src="shepherd.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    window.seek_user = <%=
      if current_user
        {id: current_user.id, username: current_user.username}.to_json.html_safe
      else
        {id: 'blank', username: 'blank'}.to_json.html_safe
      end
    %>
  </script>

</head>
<body

  <%= "class=welcome" unless logged_in? %>>

  <a href="" class="logo">seek</a>

  <% if logged_in? %>
    <%#= current_user.username %>
    <%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-primary", id: "user-signout" %>
  <% else %>
    <%#= link_to "Sign Up", new_user_url, class: "btn btn-primary", id: "user-signup" %>
    <%#= link_to "Sign In", new_session_url %>
  <% end %>


  <%= render "layouts/errors" %>

  <%= yield %>

</body>
</html>
